$color-base: red;
$color-important: brown;
$color-warning: lightgrey;
$main-font: Arial, Helvetica, sans-serif;
$secondary-font: "Lucida Console", Monaco, monospace;
$box-shadow: -10px 12px 25px 0px black;
$border-radius: 1rem;