$color-base: blue;
$color-important: darkblue;
$color-warning: lightblue;
$main-font: "Courier New", Courier, monospace;
$secondary-font: Tahoma, Geneva, sans-serif;
$box-shadow: 16px 12px 5px 0px black;
$border-radius: 3rem;